body {
  margin: 0 !important;
  padding: 0 !important;
}

.karma-container {
  border: 1px solid grey;
  padding: 5px;
  background-color: #E0E0E0;
}

.karma-box {
  border: 1px solid grey;
  margin-bottom: 5px;
}

.karma-box.last {
  margin-bottom: 0;
}

.controls {
  margin-top: 20px;
}
