.reaction-console {
  font-size: 0.85em;
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid grey;
}

.reaction-console h4 {
  font-size: 0.85em;
  padding: 5px;
  color: grey;
}

.stamp-field, .reaction-field {
  padding: 5px;
}

.stamp-field {
  padding-left: 15px;
}

.reaction-field {
  padding-right: 15px;
}

.stamp-field.first {
  padding-top: 15px;
}

.reaction-field.last {
  padding-bottom: 15px;
}

.reaction-field.active {
  background-color: lightBlue;
}

.divider {
  margin: 0;
}

span.dom-reaction-marker {
  display: inline !important;
}
